<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/action_page.php">
  <label for="fname">1</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">2</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <label for="fname">3</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="fname">4</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="fname">5</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">6</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">7</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">8</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">9</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">10</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">11</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">12</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">13</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">14</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
<label for="fname">15</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <input type="submit" value="Submit">
</form> 
<br>
<br>
{{prediction_text}}

</body>
</html>